h1{
    color: black;
    font-weight: bolder;
    font-size: 60px;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(./NimAssets/DirtTexture.jpeg) no-repeat center center fixed, black;
}
button {
    width: auto;
    font-size: 20px;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.center { 
    justify-content: center; 
}
.piece {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center; 
}
.piece {
    padding: 5px;
    margin: 5px;
}
p {
    font-size: 20px;
    background-color: black;
    color:white;
    padding: 2px;
    margin: 2px;
}

#playerTurnText {
    color: rgb(255, 255, 255);
    font-size: 64px;
    text-align: center;
}
.Hints{
    /* justify-content: center; */
    border: 15px solid green;
    max-width: 300px;
    padding: 50px;
    margin: 10px;
}

/* .Instructions{
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 15px solid blue;
    max-width: 300px;
    padding: 50px;
    margin: 10px;
} */