<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>NIM</title>
</head>
<div id="playerTurnText"></div>
<div class="board">
    <div class="piece" id="pieceOne"><img src="NimAssets\Stone3.png" width="115" height="96"/></div>
    <div class="piece" id="pieceTwo"><img src="NimAssets\Stone3.png" width="115" height="96"/></div>
    <div class="piece" id="pieceThree"><img src="NimAssets\Stone3.png" width="115" height="96"/></div>
    <div class="piece" id="pieceFour"><img src="NimAssets\Stone3.png" width="115" height="96"/></div>
    <div class="piece" id="pieceFive"><img src="NimAssets\Stone3.png" width="115" height="96"/></div>
    <div class="piece" id="pieceSix"><img src="NimAssets\Stone3.png" width="115" height="96"/></div>
    <div class="piece" id="pieceSeven"><img src="NimAssets\Stone3.png" width="115" height="96"/></div>
    <div class="piece" id="pieceEight"><img src="NimAssets\Stone3.png" width="115" height="96"/></div>
    <div class="piece" id="pieceNine"><img src="NimAssets\Stone3.png" width="115" height="96"/></div>
    <div class="piece" id="pieceTen"><img src="NimAssets\Stone3.png" width="115" height="96"/></div>
</div>
<div id="endTurn">End Turn</div>    
</html>
