<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>NIM</title>
</head>
<body>
<div class="back">
    <form style ="text-align:center" action="./index.html">
    <button type="submit" value="Home">Home</button>
    </form>
</div>
<div id="playerTurnText"></div>
<ul class="board flex-container center">
    <img class="piece" id="pieceOne" src="../public/NimAssets/Stone3.png" width="115" height="96"/>
    <img class="piece" id="pieceTwo" src="../public/NimAssets/Stone3.png" width="115" height="96"/>
    <img class="piece" id="pieceThree" src="../public/NimAssets/Stone3.png" width="115" height="96"/>
    <img class="piece" id="pieceFour" src="../public/NimAssets/Stone3.png" width="115" height="96"/>
    <img class="piece" id="pieceFive" src="../public/NimAssets/Stone3.png" width="115" height="96"/>
    <img class="piece" id="pieceSix" src="../public/NimAssets/Stone3.png" width="115" height="96"/>
    <img class="piece" id="pieceSeven" src="../public/NimAssets/Stone3.png" width="115" height="96"/>
    <img class="piece" id="pieceEight" src="../public/NimAssets/Stone3.png" width="115" height="96"/>
    <img class="piece" id="pieceNine" src="../public/NimAssets/Stone3.png" width="115" height="96"/>
    <img class="piece" id="pieceTen" src="../public/NimAssets/Stone3.png" width="115" height="96"/>
</ul>
<form style ="text-align:center" action="">
    <button type="submit" value="End turn">End Turn</button>
    </form> 
<body/> 
</html>
