<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>NIM</title>
</head>
<body>
    <h1 style ="text-align:center";>NIM</h1>
    <form style ="text-align:center" action="./user.html">
        <button type="submit" value="Begin" action="/game"> Begin </button>
      </form>
      <br/>
      <form style ="text-align:center" action="./options.html">
        <button type="submit" value="Begin" action="/options"> Options </button>
      </form>
  </body>
</html>