<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>NIM</title>
</head>
<body>
    <h1 style ="text-align:center";>NIM</h1>
    <div style ="text-align:center" id="usernamePage">
        <h2>Enter Username:</h2>
        <form method="post" style ="text-align:center" action="./board.html">
            <input type='text' id= "userOneInput" placeholder='Username 1'/>
            <input type='text' id= "userTwoInput" placeholder='Username 2'/>
            <input type="submit" value="Begin" action="/game" onclick="userInput()" placeholder="Begin">
        </form>
    </div>
    <form id="homeButton" action="./index.html">
        <button type="submit" value="Home" action="/game"> Home </button>
    </form>
    <script src="/script.js">

    </script>
</body>
</html>