<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>NIM</title>
</head>
<body>
    <h1 style ="text-align:center";>NIM</h1>
    <div style ="text-align:center" id="usernamePage">
        <h2>Enter Username:</h2>
        <input type='text' placeholder='Username 1'/>
        <input type='text' placeholder='Username 2'/>
    </div>
    <br>
    <form style ="text-align:center" action="./board.html">
        <button type="submit" value="Begin" action="/game"> Begin </button>
    </form>
    <form style ="text-align:center" action="./index.html">
        <button type="submit" value="Home" action="/game"> Home </button>
    </form>
</body>
</html>