h1{
    color: #FFA500;
}

.board {
    background-image: url("NimAssets\Dirt Texture.jpeg");
    display: flex;
}

.piece {
    padding-left: 22px;
}

/* #usernamePage {
    width: auto;
    height: auto;
    align-items: center;
} */

